extends layout

block content
  .container
    .row
      //FORM
      .col-md-12
        form#form-edit-article.form-horizontal
          fieldset
            // Form article  
            legend articles
            // Text input
            .form-group
              label.col-md-4.control-label(for='article-title') Titre
              .col-md-4
                .input-group
                  i.input-group-addon.fa.fa-book
                  input#article-title.form-control.input-md(name='article-name', type='text', placeholder="article name", required=true)
            // Prepended text
            .form-group
              label.col-md-3.control-label(for='article-content') Content
              .col-md-7
                .input-group
                  textarea#article-content.form-control(name='article-content', placeholder='content', type='autor', required=true, cols="100", rows="10")
            // Prepended text
            .form-group
              label.col-md-4.control-label(for='article-autor') Auteur
              .col-md-4
                .input-group
                  i.input-group-addon.fa.fa-user
                  input#article-autor.form-control(name='article-autor', placeholder='auteur', type='autor', required=true)
            // Button
            .form-group
              label.col-md-4.control-label(for='btn-save')
              .col-md-4
                button#btn-save.btn.btn-success(name='btn-save') Save
      // LIST
      .col-md-12
        form#form-list-article
          legend List of articles

          table.table.table-bordered.table-condensed.table-hover
            thead
              tr
                th Titre
                th Content
                th Auteur
                th Actions
            tbody#form-list-article-body
              each elem in list
                tr
                  td.title= elem.title
                  td.content!= elem.content
                  td.autor= elem.autor
                  td
                    div.id-article(style="display:none;")=elem._id
                    a.btn.btn-default.btn-sm.article-view(title='view this ')
                      i.glyphicon.glyphicon-eye-open.text-primary
                    a.btn.btn-default.btn-sm.article-delete(title='delete this ')
                      i.glyphicon.glyphicon-trash.text-danger
      br
      // view
      .col-md-12
        legend View article
        div
          div(class2=' col-md-9 col-lg-9 ')
            table.table.table--information
              tbody
                tr
                  th Titre:
                  td.view-title
                tr
                  th Content:
                  td.view-content
                tr
                  th Auteur:
                  td.view-autor
                  td.view-save
                    button#btn-view-save.btn.btn-success(name='btn-save', style="display:none;") Save
