extends layout

block content
  if(error.status != 404)
    h1= message
    h2= error.status
    pre #{error.stack}
  else
    h2 Erreur 404
    pre Cette page n'existe pas! Retrouves ton ornithorynque sur cette page -> 
      a(href="/") CLIQUES ICI