extends layout

block content
  if (user)
    a(href="/profile")
      button.btn.btn-warning Profile
    a(href="/logout", style="margin-left:30px;")
      button.btn.btn-danger Déconnexion
  else
    a(href="/login")
      button.btn.btn-secondary Connexion

  p Welcome to #{title}
  p Organisation à but festif et orgasmique qui regroupe des personnes ayant en leur possession un marteau ou une faucille et prêts à s'en servir.
  p Minimum requis pour adhérer: passer les tests prévus à cet effet et aimer 
    a(href="https://www.ville-montrouge.fr/") MONTROUGE
  p Objectifs: festif, rencontres, musique, jeux, alcool, ornithorynque, piñatas, bohème, pâtes carbonara, théâtre, saucissons et autres 
  p Attention: THE groupe peut contenir des gens ayant une forte attirance pour l'ALLEMAND (voir même des profs)
  p Il peut aussi s'y cacher des communistes

  if list
    for elem in list
        div(style="margin-top:10px;")
          p.col-md-3(style="border-top: solid 2px;")
            b Titre : 
            span= elem.title
          .col-md-2(style="border-top: solid 2px;")
            p(style="text-decoration:underline;")
              span.fa.fa-user= elem.autor
          .col-md-11()
            p!= elem.content

  if (user)      
    // Users list 
    #users_list  
      p(style="text-decoration:underline;") Utilisateurs
      for elem in users
        //- img(src="/images/"+elem.picture).users_imgs
        p.user_name
          i.fa.fa-circle.text-grey(id=elem.name)
          |  
          span= elem.name
