doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/richtext.min.css')
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', type='text/css', rel='stylesheet')
    link(rel='stylesheet', href='https://join.under-wolf.eu/bower_components/Ionicons/css/ionicons.min.css')
    link(rel='stylesheet', href='https://join.under-wolf.eu/dist/css/AdminLTE.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', rel='stylesheet')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/script.js')
    script(src='/javascripts/jquery.richtext.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
  body  
    header
      p.alert.alert-warning#alert(style="display:none;")
      h1 The 
        span.text-danger RED 
        span Crew
      if (user)
        p Welcome Master 
          span.connect_name= user.name

    block content
