each elem in list
  tr
    td.title= elem.title
    td.content!= elem.content
    td.autor= elem.autor
    td
      div.id-article(style="display:none;")=elem._id
      a.btn.btn-default.btn-sm.article-view(title='view this ')
        i.glyphicon.glyphicon-eye-open.text-primary
      a.btn.btn-default.btn-sm.article-delete(title='delete this ')
        i.glyphicon.glyphicon-trash.text-danger