each elem in list
  tr
    td.name= elem.name
    td.image
      img(style="width:100px;",src="/images/"+elem.picture)
    td
      div.id-user(style="display:none;")=elem._id
      a.btn.btn-default.btn-sm.user-view(title='view this ')
        i.glyphicon.glyphicon-eye-open.text-primary
      a.btn.btn-default.btn-sm.user-delete(title='delete this ')
        i.glyphicon.glyphicon-trash.text-danger