extend layout

block content
    a(href="/", style="")
      button.btn.btn-danger Retour
    body.hold-transition
        section.sidebar
            section.content-header
                // Main content
                section.content.container-fluid
                    .row
                        .col-md-6
                        .box.box-danger
                            .box-header
                            h3.box-title Welcome 
                                span= user.name
                            .box-body
                            // Name
                            .form-group.col-md-6
                                label Name
                                .input-group
                                .input-group-addon
                                    i.fa.fa-user
                                form.form-control(type='text')
                                    span= user.name
                            .form-group.col-md-6
                                label Modifier image
                                .input-group
                                    img(style="width:100px;",src="/images/"+user.picture)
                                    .input-group-addon
                                        form(action='https://the-red-crew.fr/upload', method='POST', enctype='multipart/form-data')
                                            input(type='hidden', value=user.name, name='Name', placeholder='Name')
                                            input(type='file', name='Picture').btn.btn-primary
                                            input.btn.btn-success(type='submit', value="Upload")

    .row
        //FORM
        .col-md-12
            form#form-edit-article-user.form-horizontal
                fieldset
                    // Form article  
                    legend articles
                    // Text input
                    .row
                        .form-group
                            label.col-md-1.control-label(for='article-title') Titre
                            .col-md-7
                                .input-group
                                i.input-group-addon.fa.fa-book
                                input#article-title.form-control.input-md(name='article-name', type='text', placeholder="article name", required=true)
                            label.col-md-1.control-label(for='article-autor') Auteur
                            .col-md-2
                                .input-group
                                i.input-group-addon.fa.fa-user
                                input#article-autor.form-control(name='article-autor', placeholder='auteur', value=user.name, type='text', required=true, disabled=true)
                    .row
                        .form-group
                            label.col-md-1.control-label(for='article-content') Content
                            .col-md-10
                                .input-group
                                textarea#article-content.form-control(name='article-content', placeholder='content', type='autor', required=true, cols="100", rows="10")
                    .form-group
                        label.col-md-4.control-label(for='btn-save')
                    .col-md-4
                        button#btn-save.btn.btn-success(name='btn-save') Creer Article                                   
    div(style="border-top: solid 2px;margin-top:10px;")
        for elem in list
            div(style="padding-top:10px;")
                p.col-md-3 
                    b Titre : 
                    span= elem.title
                .col-md-2
                    p(style="text-decoration:underline;")= elem.autor
                .col-md-11(style="border: solid 2px;")
                    p!= elem.content
                div.col-md-1
                    div.id-article(style="display:none;")=elem._id
                    a.btn.btn-default.btn-sm.article-delete-user(title='delete this ')
                        i.glyphicon.glyphicon-trash.text-danger
                       
    if (user)      
      // Users list 
      #users_list  
          p(style="text-decoration:underline;") Utilisateurs
          for elem in users
              //- img(src="/images/"+elem.picture).users_imgs
              p.user_name
                  i.fa.fa-circle.text-grey(id=elem.name)
                  |  
                  span= elem.name
