extends layout

block content
  .container
    .row
      //FORM
      .col-md-12
        form#form-edit-user.form-horizontal
          fieldset
            // Form Name
            legend Users
            // Text input
            .form-group
              label.col-md-4.control-label(for='user-name') Name
              .col-md-4
                .input-group
                  i.input-group-addon.fa.fa-user
                  input#user-name.form-control.input-md(name='user-name', type='text', placeholder="User name", required=true)
            // Prepended text
            .form-group
              label.col-md-4.control-label(for='user-password') Pass
              .col-md-4
                .input-group
                  i.input-group-addon.fa.fa-lock
                  input#user-password.form-control(name='user-password', placeholder='******', type='password', required=true)
            // Button
            .form-group
              label.col-md-4.control-label(for='btn-save')
              .col-md-4
                button#btn-save.btn.btn-success(name='btn-save') Save
      // LIST
      .col-md-12
        form#form-list-user
          legend List of users
          table.table.table-bordered.table-condensed.table-hover
            thead
              tr
                th Nom
                th Image
                th Actions
            tbody#form-list-user-body
              each elem in list
                tr
                  td.name= elem.name
                  td.image
                    img(style="width:100px;",src="/images/"+elem.picture)
                  td
                    div.id-user(style="display:none;")=elem._id
                    a.btn.btn-default.btn-sm.user-view(title='view this ')
                      i.glyphicon.glyphicon-eye-open.text-primary
                    a.btn.btn-default.btn-sm.user-delete(title='delete this ')
                      i.glyphicon.glyphicon-trash.text-danger
      br
      // view
      .col-md-12
        legend View user
        div
          div(class2=' col-md-9 col-lg-9 ')
            table.table.table--information
              tbody
                tr
                  th Name:
                  td.view-name
                tr
                  th Image:
                  td.view-image
                  td.view-save
                    button#btn-view-save.btn.btn-success(name='btn-save', style="display:none;") Save
