body {
  padding: 0px 140px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 90%;
}

a {
  color: #00B7FF;
}

header{
  /* background-color: rgba(200, 30, 0, 0.9); */
}

#users_list{
  color:white;
  width:140px;
  height: 100%;
  background-color: rgb(78, 78, 78);
  position: fixed;
  right: 0px;
  top: 0px;
  padding-left: 25px;
  padding-top: 20px;
  /* border-radius: 10px 0px 0px 10px; */
}

.user_name{
  padding-left: 10px;
  border-left:solid 1px;
}

.users_imgs{
  width: 30px;
}